$primary-1: hsl(263, 55%, 52%);
$primary-2: hsl(217, 19%, 35%);
$primary-3: hsl(219, 29%, 14%);
$primary-4: hsl(0, 0%, 100%);

$neutral-1: hsl(0, 0%, 81%);
$neutral-2: hsl(210, 46%, 95%);

$ff-primary: 'Barlow Semi Condensed', sans-serif;
$fw-medium: 500;
$fw-semibold: 600;
